.features{
   margin-bottom: 10px;
}
.features__Image{
    display: flex;
    align-items: center;
    justify-content: center;
}
.features__Content{
    width: 90vw;
    margin: 0px auto;
}
.features__Title{
    margin-top: 10px;
}
.features__About{
    margin: 20px auto ;
    text-align: justify;
    font-size: 16px;
    /* width: 90%; */
}
.features__Lists{

    margin: 15px 5vw;
    /* width: max-content; */
    
}
.features__List{
    display: flex;
    margin-top: 10px;
    align-items: center;
}
.features__List p{
    margin-left: 10px;
    font-size: 14px;
}
@media screen and (min-width:768px) {
    .features{
        display: flex;
        align-items: center;
        /* justify-content: space-between; */
      
        padding-inline: 30px;
    }
 .features__Content{
     /* width: 100vw; */
flex:0.5;
/* margin-left: 30px; */
display: flex;
flex-direction: column;
align-content: flex-end;
margin: 25px 0vw;
/* margin-right: -20px; */
}
 .features__Image{
     flex: 0.5;
     padding-right: 40px;
 }
 .features__About{
     width: 85%;
     max-width: 500px;
     margin-inline: 0%;
 }
    .features__Lists{
        width: 100%;
        margin-inline: 0px;
    }
}